body {
	width:320px;
	/*-webkit-transform:rotate(-90deg);*/
	padding:0;
	margin:0;
	overflow:hidden;
}

#faq {
    margin:0;
	position:relative;
	float:left;
}

#faq dt {
	float:left;
	position:relative;
	padding-left:14px;
	background-size:100% 200%;
	padding-top:4px;
	padding-bottom:4px;
	width:320px;
	min-height:29px;
	padding-right:30px;
	box-sizing:border-box;
}

#faq dd {
	float:left;
	position:relative;
	padding:10px;
	padding-right:20px;
	margin:0px;
	background-image:url("../img/new/info_dd.png");
	background-size:100% 100%;
	width:320px;
	box-sizing:border-box;
}

.closed-question {
	background-image:url("../img/new/info_dt.png");
}

.open-question {
	background-image:url("../img/new/info_dt.png");
	background-position-y: 100%;
}

img {
	zoom:50%;
}

#img-footer {
	position:relative;
}

.searchbar input {
	width:200px;
}

.searchbar {
	position:relative;
	background-image:url("../img/new/info_top.png");
	width:320px;
	height:98px;
	background-size:100% 100%;
	padding-bottom:10px;
	box-sizing:border-box;
	padding-top:68px;
}

#btn-return {
	position:absolute;
	top:0;
	left:0;
	width:60px;
	height:60px;
}