.app {
    /*height:100%;*/
}

html, body {
    /*overflow:hidden;
    -webkit-user-select: none;*/
	width:320px;
	height:450px;
	margin:0;
	padding:0;
}

#image-holder {
	position:absolute;
}

.bg-tutorial {
	background-image:url("../img/new/sobre_bg.png");
	background-size:100%;
	width:320px;
	height:458px;
	position:relative;
}

.image-index-icon {
    width:10px;
    height:10px;
    position:relative;
    float:left;
    -webkit-border-radius:5px;
    background-color:white;
}

.icon-selected {
    background-color:black;
}

#image-index {
	position:fixed;
	bottom:0px;
	width:100%;
}

#back-button {
	width:50px;
	height:50px;
	position:fixed;
	top:70px;
	left:30px;
}

