body {
	width:320px;
	height:450px;
	margin:0;
	padding:0;
}

/*.rotated {
	-webkit-transform:rotate(90deg);
}*/

ul {
    margin:0px;
    padding:0px;
	position:relative;
	float:left;
}

ul li {
    list-style:none;
	margin:0px;
	padding:0px;
	position:relative;
	float:left;
}

ul li img {
	zoom:50%;
	margin:0px;
	padding:0px;
	position:relative;
	float:left;
}